<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Profile" value="Default"/>
    <add key="Configuration" value="Debug"/>
    <add key="Platform" value="Any CPU"/>
    <add key="Test.Service.Url" value="https://service.local/api"/>
  </appSettings>
</configuration>